body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  
  main {
    display: flex;
    flex-direction: row;
    flex: auto;
  }
  
  article {
    flex: 2;
    overflow-y: auto;
  }
  
  aside {
    flex: 1;
    overflow-y: auto;
  }
  
  header, footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1rem;
  }  